:root{
    --barPercentage: 100%;
    --circleAngle: 0deg;
}

.main{
    margin-left: 15%;
    padding: 50px;
    width: 70%;
    height: 500px;
    box-shadow: 3px 3px 3px 3px ;
}

.value{
    padding: 10px;
    background-color: rgb(188, 223, 252);
    border: none;
}

.level{
    display: inline-block;
    text-align: center;
    margin-right: 100px;
}

.bar{
    
    width: 60px;
    height: 200px;
    background-color: rgb(3, 118, 212);
}

.fillbar{
    background-color: rgb(188, 223, 252);
    height: var(--barPercentage);    
}

.bar1{
    width: 60px;
    height: 200px;
    background: linear-gradient(rgb(188, 223, 252) var(--barPercentage), rgb(3, 118, 212) );
}

.circle {
    margin-top: 0px;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: conic-gradient(from 90deg,
        rgb(3, 118, 212) 0 var(--circleAngle), 
        rgb(188, 223, 252) 0deg);
}


